/* App.css */
:root{
  width: 100vw;
  background: #ffffff;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.main-container{
  width: 100vh;
}
.verification-cont{
  /* background: #3a3a3a5f; */
  width: 40rem;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  height: 80rem;
  align-items: top;
  justify-content:flex-start;
  left: 45rem;
  top: 8rem;
  z-index: 1;
}
.verify-a-doctor,
.verify-a-doctor * {
  box-sizing: border-box;
}
.verify-a-doctor {
  background: #ffffff;
  height: 1573px;
  position: relative;
  /* overflow: hidden; */
}
.rectangle-260 {
  width: 1504px;
  height: 386px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -387px;
  overflow: visible;
}
.rectangle-266 {
  width: 1504px;
  height: 244px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  overflow: visible;
}
.image-24 {
  width: 765px;
  height: 604px;
  position: absolute;
  left: 48px;
  top: 311px;
  object-fit: cover;
}
.header {
  position: absolute;
  inset: 0;
}
.image-2 {
  border-radius: 184.5px;
  width: 120px;
  height: 110.42px;
  position: absolute;
  left: 10px;
  top: 10px;
  object-fit: cover;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  width: 985px;
  position: absolute;
  left: calc(50% - 506px);
  top: 68px;
}
.find-a-doctor {
  flex-shrink: 0;
  width: 107px;
  height: 22px;
  position: relative;
}
.find-a-doctor2 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.verify-a-doctor2 {
  flex-shrink: 0;
  width: 120px;
  height: 22px;
  position: relative;
}
.verify-a-doctor3 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.sos {
  flex-shrink: 0;
  width: 31px;
  height: 22px;
  position: relative;
}
.sos2 {
  color: #810002;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.home-delivery-medicines {
  flex-shrink: 0;
  width: 203px;
  height: 22px;
  position: relative;
}
.home-delivery-medicines2 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.micro-insurance {
  flex-shrink: 0;
  width: 129px;
  height: 22px;
  position: relative;
}
.micro-insurance2 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.regular-insurance {
  flex-shrink: 0;
  width: 145px;
  height: 22px;
  position: relative;
}
.regular-insurance2 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.login-signup {
  width: 10rem;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 60px;
}
.rectangle-1 {
  background: rgba(255, 255, 255, 0.792);
  border-style: solid;
  border-color: rgba(96, 96, 96, 0.516);
  border-width: 1px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.login-signup2 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 14%;
  left: 14%;
  width: 72%;
  bottom: 27.5%;
  top: 17.5%;
  height: 55%;
}
.rectangle-16 {
  background: #d9d9d9;
  width: 100%;
  height: 20px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 121px;
}

.footer-cont {
  background: rgb(70, 70, 70);
  width: 1500px;
  height: 215px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -65rem;
  overflow: hidden;
  
}

.about-us {
  width: 5.01%;
  height: 22px;
  position: absolute;
  right: 82.78%;
  left: 12.21%;
  bottom: 159px;
}
.about-us2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.blog {
  width: 2.4%;
  height: 22px;
  position: absolute;
  right: 85.32%;
  left: 12.28%;
  bottom: 135px;
}
.blog2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.careers {
  width: 4.22%;
  height: 22px;
  position: absolute;
  right: 83.58%;
  left: 12.21%;
  bottom: 111px;
}
.careers2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.press {
  width: 2.98%;
  height: 22px;
  position: absolute;
  right: 84.81%;
  left: 12.21%;
  bottom: 88px;
}
.press2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.contact-us {
  width: 5.89%;
  height: 22px;
  position: absolute;
  right: 81.9%;
  left: 12.21%;
  bottom: 65px;
}
.contact-us2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.for-patient {
  width: 5.96%;
  height: 22px;
  position: absolute;
  right: 65.92%;
  left: 28.12%;
  bottom: 190px;
}
.for-patient2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 4.91%;
  left: 0%;
  width: 95.09%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.search-for-doctors {
  width: 10.32%;
  height: 22px;
  position: absolute;
  right: 60.03%;
  left: 29.65%;
  bottom: 166px;
}
.search-for-doctors2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 10.2%;
  left: 0%;
  width: 89.8%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.search-for-clinics {
  width: 9.52%;
  height: 22px;
  position: absolute;
  right: 60.83%;
  left: 29.65%;
  bottom: 142px;
}
.search-for-clinics2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 10.37%;
  left: 0%;
  width: 89.63%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.search-for-hospitals {
  width: 11.12%;
  height: 22px;
  position: absolute;
  right: 59.23%;
  left: 29.65%;
  bottom: 118px;
}
.search-for-hospitals2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 10.07%;
  left: 0%;
  width: 89.93%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-plus {
  width: 4.58%;
  height: 22px;
  position: absolute;
  right: 65.77%;
  left: 29.65%;
  bottom: 94px;
}
.v-dr-plus2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 6.81%;
  left: 0%;
  width: 93.19%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.read-health-articles {
  width: 10.68%;
  height: 22px;
  position: absolute;
  right: 59.67%;
  left: 29.65%;
  bottom: 72px;
}
.read-health-articles2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.read-about-medicines {
  width: 12.06%;
  height: 22px;
  position: absolute;
  right: 58.28%;
  left: 29.65%;
  bottom: 48px;
}
.read-about-medicines2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-drive {
  width: 5.52%;
  height: 22px;
  position: absolute;
  right: 64.83%;
  left: 29.65%;
  bottom: 24px;
}
.v-dr-drive2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 13.09%;
  left: 0%;
  width: 86.91%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.health-app {
  width: 5.96%;
  height: 22px;
  position: absolute;
  right: 64.39%;
  left: 29.65%;
  bottom: 0px;
}
.health-app2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.for-doctors {
  width: 6.54%;
  height: 22px;
  position: absolute;
  right: 44.91%;
  left: 48.55%;
  bottom: 193px;
}
.for-doctors2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 10rem;
  bottom: 0%;
  top: 0%;
  height: 100%;
  /* margin: 1rem; */
}
.v-dr-profile {
  width: 6.18%;
  height: 22px;
  position: absolute;
  right: 43.75%;
  left: 50.07%;
  bottom: 170px;
}
.v-dr-profile2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.for-clinics {
  width: 10rem;
  height: 22px;
  position: absolute;
  right: 45.57%;
  left: 48.69%;
  bottom: 143px;
}
.for-clinics2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-pro {
  width: 4.22%;
  height: 22px;
  position: absolute;
  right: 45.2%;
  left: 50.58%;
  bottom: 95px;
}
.v-dr-pro2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-reach {
  width: 5.38%;
  height: 22px;
  position: absolute;
  right: 44.04%;
  left: 50.58%;
  bottom: 45px;
}
.v-dr-reach2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 3.31%;
  left: 0%;
  width: 96.69%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ray-by-v-dr {
  width: 5.89%;
  height: 22px;
  position: absolute;
  right: 43.53%;
  left: 50.58%;
  bottom: 119px;
}
.ray-by-v-dr2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ray-tab {
  width: 4.36%;
  height: 22px;
  position: absolute;
  right: 45.06%;
  left: 50.58%;
  bottom: 70px;
}
.ray-tab2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 9.8%;
  left: 0%;
  width: 90.2%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.for-hospitals {
  width: 7.41%;
  height: 22px;
  position: absolute;
  right: 25.22%;
  left: 67.37%;
  bottom: 193px;
}
.for-hospitals2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 10rem;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.insta-by-v-dr {
  width: 6.61%;
  height: 22px;
  position: absolute;
  right: 24.13%;
  left: 69.26%;
  bottom: 169px;
}
.insta-by-v-dr2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.qikwell-by-v-dr {
  width: 7.92%;
  height: 22px;
  position: absolute;
  right: 22.82%;
  left: 69.26%;
  bottom: 145px;
}
.qikwell-by-v-dr2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-profile3 {
  width: 5.89%;
  height: 22px;
  position: absolute;
  right: 24.85%;
  left: 69.26%;
  bottom: 121px;
}
.v-dr-reach3 {
  width: 5.67%;
  height: 22px;
  position: absolute;
  right: 25.07%;
  left: 69.26%;
  bottom: 97px;
}
.v-dr-reach4 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-drive3 {
  width: 5.52%;
  height: 22px;
  position: absolute;
  right: 25.22%;
  left: 69.26%;
  bottom: 73px;
}
.v-dr-drive4 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 5rem;
  /* max-resolution: 1rem; */
  bottom: 0%;
  top: 119%;
  height: 100%;
}
.more {
  width: 41px;
  height: 22px;
  position: absolute;
  right: 126px;
  bottom: 193px;
}
.more2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.help {
  width: 2.54%;
  height: 22px;
  position: absolute;
  right: 8.72%;
  left: 88.74%;
  bottom: 169px;
}
.help2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.developers {
  width: 6.47%;
  height: 22px;
  position: absolute;
  right: 4.8%;
  left: 88.74%;
  bottom: 146px;
}
.developers2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 12.39%;
  left: 0%;
  width: 87.61%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.privacy-policy {
  width: 7.63%;
  height: 22px;
  position: absolute;
  right: 3.63%;
  left: 88.74%;
  bottom: 122px;
}
.privacy-policy2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 12.63%;
  left: 0%;
  width: 87.37%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.pcs-t-c {
  width: 4.65%;
  height: 22px;
  position: absolute;
  right: 6.61%;
  left: 88.74%;
  bottom: 74px;
}
.pcs-t-c2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.terms-conditions {
  width: 11.05%;
  height: 22px;
  position: absolute;
  right: 0.22%;
  left: 88.74%;
  bottom: 98px;
}
.terms-conditions2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 11.28%;
  left: 0%;
  width: 88.72%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-health-wiki {
  width: 8.5%;
  height: 22px;
  position: absolute;
  right: 2.76%;
  left: 88.74%;
  bottom: 26px;
}
.v-dr-health-wiki2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.healthcare-directory {
  width: 11.26%;
  height: 22px;
  position: absolute;
  right: 0%;
  left: 88.74%;
  bottom: 50px;
}
.healthcare-directory2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 199%;
  height: 100%;
}
.v-drapp {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 83.28%;
  left: 10.47%;
  width: 6.25%;
  bottom: 183px;
}
.image-22 {
  border-radius: 184.5px;
  width: 8.72%;
  height: 110.42px;
  position: absolute;
  right: 91.28%;
  left: 0%;
  bottom: 59.58px;
  object-fit: cover;
}
.doctor-verification {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  right: 394px;
  top: 177px;
}
.group-74 {
  position: absolute;
  inset: 0;
}
.full-name {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 538px;
  top: 243px;
}
.full-name-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.full-name-span2 {
  color: #ff070b;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.medical-license-number {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 398px;
  top: 325px;
}
.medical-license-number-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.medical-license-number-span2 {
  color: #ff0707;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.upload-medical-license {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 406px;
  top: 407px;
}
.upload-medical-license-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.upload-medical-license-span2 {
  color: #ff0707;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.medical-speciality {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 460px;
  top: 489px;
}
.medical-speciality-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.medical-speciality-span2 {
  color: #ff0707;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.upload-board-certificate {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 397px;
  top: 571px;
}
.upload-board-certificate-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.upload-board-certificate-span2 {
  color: #ff0a0a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.input-feild-4 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 274px;
}
.input {
  background: #ffffff;
  border-style: solid;
  border-color: #7373738d;
  border-width: 0.8px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow:  4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}
.upload {
  background: #ffffff;
  border-style: solid;
  border-color: #7373738d;
  border-width: 0.8px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow:  4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}
.input-feild-6 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 356px;
}
.group-71 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 438px;
}
.group-65 {
  position: absolute;
  inset: 0;
}
.choose-file {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 78.75%;
  left: 3%;
  width: 18.25%;
  bottom: 28.57%;
  top: 26.19%;
  height: 45.24%;
}
.upload-to-the-cloud {
  width: 10.5%;
  height: 76.19%;
  position: absolute;
  right: 2.75%;
  left: 86.75%;
  bottom: 11.9%;
  top: 11.9%;
  object-fit: cover;
}
.input-feild-7 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 520px;
}
.group-70 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 602px;
}
.educational-background {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 402px;
  top: 653px;
}
.educational-background-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.educational-background-span2 {
  color: #ff0a0a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.upload-educational-certificates {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 332px;
  top: 735px;
}
.upload-educational-certificates-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.upload-educational-certificates-span2 {
  color: #ff0a0a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.choose-file2 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 766px;
}
.group-72 {
  width: 400px;
  height: 42px;
  position: static;
  background: #000;

}
.input-feild-2 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 684px;
}
.highest-level-of-study {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 422px;
  top: 696px;
}
.expand-arrow {
  width: 26px;
  height: 27px;
  position: absolute;
  right: 250px;
  top: 696px;
  object-fit: cover;
}
.hospital-current-working {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 400px;
  top: 817px;
}
.hospital-current-working-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.hospital-current-working-span2 {
  color: #ff0a0a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.input-feild-8 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 848px;
}
.experiance {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 526px;
  top: 899px;
}
.experiance-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.experiance-span2 {
  color: #ff0a0a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.input-feild-22 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 930px;
}
.hospital-or-clinic {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 467px;
  top: 981px;
}
.any-complaints-or-disciplinary-actions-been-filed-against-this-doctor {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: -167px;
  top: 1063px;
  width: 50rem;
}
.any-complaints-or-disciplinary-actions-been-filed-against-this-doctor-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.any-complaints-or-disciplinary-actions-been-filed-against-this-doctor-span2 {
  color: #ff0a0a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.description-if-any {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 451px;
  top: 1169px;
}
.input-feild-9 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 1012px;
}
.group-73 {
  width: 400px;
  height: 42px;
  position: static;
}
.input-feild-23 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 1118px;
}
.expand-arrow2 {
  width: 26px;
  height: 27px;
  position: absolute;
  right: 250px;
  top: 1130px;
  object-fit: cover;
}
.input-feild-10 {
  width: 400px;
  height: 42px;
  position: absolute;
  right: 235px;
  top: 1200px;
}
.logo{
  background: #000;
  width: 8rem;
  margin: 1rem;

height: 5rem;}
.main-img{
  background: #000;
  width: 40rem;
  height: 40rem;
  margin: 2rem;

  position: absolute;
  top: 20rem;
}