.footer{
    /* border: 1px solid black; */
    width: 1341px;
    position: absolute;
    top: 600px;
    /* height: 100%; */
 
}
.background-image_footer{
    width: 100%;
    height: 100%;
}

.footer-logo{
    /* aspect-ratio: 1.09; */
    width: 130px;
    border-radius: 185px;
    position: absolute;
    left: 45px;
    top: 80px;
    height: 130px;
    z-index: 1;
}
.footer_ul1{
    display: flex;
    position: absolute;
    top: 10px;
    left: 210px;
    gap: 50px;
    justify-content: space-around;
}
.footer_ul2{
    list-style: none;
}
.footer_ul2 li h3{
    font-weight: 700;
}
.footer_ul2 li a{
color: black;
font-weight: 400;
}
.footer_ul2 li a:hover{
    color: blue;
    text-decoration: underline;
    font-weight: 400;
    }
