.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff;
}

.coming-soon-text {
  font-size: 3rem;
  font-weight: bold;
  color: #ff69b4;
  text-shadow: 2px 2px #ff1493, 4px 4px #ff4500, 6px 6px #ff8c00;
}