/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  width: 100vw;
  overflow-x: hidden;
}

/* Basic styles for body */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  background-color: #ffffff;
  width: 100vw;
}

/* Header Styles */
.header {
  /* background: #000; */
  color: #000000;
  padding: 12px;
  position: relative;
  width: 100vw;
  /* width: 1490px; */

  top: -5px;
  left: -0rem;
  z-index: 1000;
  box-shadow: 0 4px 9px rgba(251, 249, 249, 0.1); /* Subtle shadow for header */
}

/* Container for header content */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1490px;
  /* width: 100vw; */
  height: 7rem;
  margin: 0 auto;
  position: relative ;
  top: -12px;
  left: -1rem;
  background: #007cb172;
}
.logoContain img {
  width: 6rem;
  height: auto;
  height: auto;
  position:relative;
  top: .5rem;
  left: 2rem;
  /* left: -6rem; */
  /* background: #846a6a; */
}
.navbar ul{
  position: relative;
  left:-15rem;
}

/* Logo Section (Left) */
.logo{
  /* background: #ef4545; */
  width: 5rem;
  height: 5rem;
  position: relative;
  /* background: #000; */
}
/* Navigation Bar Styles */
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 60px;
  width: 100%;
}

.navbar ul li {
  display: flex;
}

.navbar ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  padding: 8px 9px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  color: #B1B8E4; /* Change text color */
  font-size: 15px; /* Increase font size on hover */
}

/* Auth Buttons Section (Right) */
.auth-buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 0px;
  right: -90px;
}

.login-btn {
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e9ecee;
  color: #0c0101;
  border: 1px solid #5a5b5c;
  transition: opacity 0.3s ease;

  position: relative;
  right: 8.5rem;
  top: 2.2rem;
}

.login-btn:hover {
  opacity: 0.8;
  color: #B1B8E4;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .auth-buttons {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .auth-buttons {
    margin-top: 10px;
  }
}
@keyframes move-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.moving-text-container {
  width: 100%;
  height: 20px;
  overflow: hidden;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 18.5%;
  left: 10px;
}

.moving-text {
  font-size: 1rem;
  color: #090101;
  white-space: nowrap;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  animation: move-text 5s linear infinite;
}

@media (max-width: 768px) {
  .moving-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .moving-text {
    font-size: 0.6rem;
  }
}
body {
  font-family: open sans;
  padding: 20px;
}

.location-container {
  width: 300px;
  margin: auto;
 
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: rgb(244, 238, 238);
  border: 1px solid #ccc;
  z-index: 1000;
  box-sizing: border-box;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  
}

.dropdown-container {
  width: 300px;
  margin: auto;
  position: absolute;
  top: 22%;
  left: 30%;
  display: flex;
  gap: 1px;
  
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

option {
  font-size: 14px;
}
.input-container {
  display: flex; /* Use flexbox to align items side by side */
  gap: 10px; /* Add space between the input fields */
  width: 100%; /* Ensure container takes the full width */
/* background: #000; */
}

.body2 {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.search-container2 {
  position: absolute;
  top: 23.5%;
  left: 55%;
  width: 300px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Left padding to make space for the search icon */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
.h1{
  color: #57585a;
  font-family: open sans;
  font-size: 10px;
  position: absolute;
  top: 30%;
  left: 35%;
}
.body2 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #ffffff;
  position: absolute;
  
}
.slider {
  position: absolute;
  top: 40%;
  left: 2rem;
  width: 95%;
  max-width: 100%; /* Increased width for more images */
  height: 380px;
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: white;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  flex: 0 0 25%; /* Display four images at a time */
  box-sizing: border-box;
  text-align: center;
  padding: 50px;
}
.slide img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
}
.text-above {
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}
.text-below {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.buttons button {
  padding: 2px 2px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.blue-button {
  background-color: #53B7FF;
}
.pink-button {
  background-color: #EC6C95;
}
.blue-button:hover {
  background-color: #3a94d6;
}
.pink-button:hover {
  background-color: #d3567e;
}
.nav-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.nav-buttons button {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: background 0.3s;
}
.nav-buttons button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.body3 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #ffffff;
}

.container3 {
  width: 80%;
  max-width: 1000px;
  text-align: center;
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 40%;
  position: absolute;
  top: 97%;
}

/* Option Buttons outside the frame */
.option-buttons3 {
  margin-bottom: 100px;
  
  
}

.option-buttons3 button {
  padding: 10px 20px;
  font-size: 18px;
  background-color:rgb(236, 236, 236);
  color: rgb(8, 7, 7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 90px;
}

.option-buttons3 button:hover {
  background-color: #3a94d6;
}

/* Text below the options */
.header-text3 {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
  position: absolute;
  top: 30%;
  left: 35%;
}

/* Slides container inside the frame */
.slides-container3 {
  display: block;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.slides3 {
  display: flex;
  transition: transform 0.5s ease;
}

.slide3 {
  min-width: 100%;
  font-size: 20px;
  padding: 20px;
  background-color: rgb(236, 236, 236);
  border: px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
}

.buttons3 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: -6%;
}

.buttons3 button:hover {
  background-color: #d3567e;
  transform: scale(1.1);
}
.body4 { font-family: Arial, sans-serif; padding: 0; margin: 0;position: absolute;top: 130%;left: 20%; }
        .container4 { display: flex; justify-content: center; padding: 100px; }
        .container4 img{
          width: 20rem;
          height: 20rem;
        }
        .preview { display: flex; flex-direction: column; align-items: center}
        .preview img { width: 300px; max-width: 400px; margin-bottom: 20px; }
        .info { margin-left: 20px;margin-top: 35px; max-width: 300px; }
        .title { font-size: 24px; font-weight: bold; }
        .description { margin: 10px 0; }
        .store-buttons { display: flex; gap: 30px }
        .store-button { display: flex; align-items: center; padding: 2px; background-color: #181111; border-radius: 5px;color: #ffffff; }
        .store-button:hover{
            background-color: rgb(113, 113, 113);
        }
        .store-button img { width: 10px;height: 10px; margin-right: 10px;border-radius: 20px; }

       
.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 250px;
  overflow: hidden;
  
}

.footer {
  /* margin: 10rem; */
  position: relative;
  top: 10rem;
  /* left: -10rem; */
  width: 100vw;
  background-color: #33c1ec;
  text-align: center;
  padding: 1rem;

  height: 8rem;

  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  z-index: 10;

}
.footer img{
  position: relative;
  bottom: 0;
  width: 5rem;
}
.footer h5{
  position: relative;
  bottom: 0;
  width: 8rem;
  /* top: 1rem; */
  margin: 2rem;
}


/* .VDr-App{
  width: 5.96%;
  height: 22px;
  position: absolute;
  left: 12%;
  bottom: 190px;
}
.VDr-App2{
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 4.91%;
  left: 0%;
  width: 95.09%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}

.about-us {
  width: 7%;
  height: 22px;
  position: absolute;
  right: 82.78%;
  left: 12.21%;
  bottom: 159px;
}
.about-us2 {
  color: #0c0000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.about-us2:hover{
    color: rgb(123, 123, 121);
}
.blog {
  width: 2.4%;
  height: 22px;
  position: absolute;
  right: 85.32%;
  left: 12.28%;
  bottom: 135px;
}
.blog2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.blog2:hover{
    color:rgb(123, 123, 121) ;
}
.careers {
  width: 4.22%;
  height: 22px;
  position: absolute;
  right: 83.58%;
  left: 12.21%;
  bottom: 111px;
}
.careers2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.careers2:hover{
    color:rgb(123, 123, 121) ;
}
.press {
  width: 2.98%;
  height: 22px;
  position: absolute;
  right: 84.81%;
  left: 12.21%;
  bottom: 88px;
}
.press2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.press2:hover{
    color: rgb(123, 123, 121);
}
.contact-us {
  width: 7%;
  height: 22px;
  position: absolute;
  right: 81.9%;
  left: 12.21%;
  bottom: 65px;
}
.contact-us2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.contact-us2:hover{
    color: rgb(123, 123, 121);
}
.for-patient {
  width: 8%;
  height: 22px;
  position: absolute;
  right: 65.92%;
  left: 28.12%;
  bottom: 190px;
}
.for-patient2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 4.91%;
  left: 0%;
  width: 95.09%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}


.search-for-doctors {
  width: 12%;
  height: 22px;
  position: absolute;
  right: 60.03%;
  left: 29.65%;
  bottom: 166px;
}
.search-for-doctors2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 10.2%;
  left: 0%;
  width: 89.8%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.search-for-doctors2:hover{
    color: rgb(123, 123, 121);
}
.search-for-clinics {
  width: 11%;
  height: 22px;
  position: absolute;
  right: 60.83%;
  left: 29.65%;
  bottom: 142px;
}
.search-for-clinics2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 10.37%;
  left: 0%;
  width: 89.63%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.search-for-clinics2:hover{
    color: rgb(123, 123, 121);
}
.search-for-hospitals {
  width: 12%;
  height: 22px;
  position: absolute;
  right: 59.23%;
  left: 29.65%;
  bottom: 118px;
}
.search-for-hospitals2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 10.07%;
  left: 0%;
  width: 89.93%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.search-for-hospitals2:hover{
    color: rgb(123, 123, 121);
}
.v-dr-plus {
  width: 7%;
  height: 22px;
  position: absolute;
  right: 65.77%;
  left: 29.65%;
  bottom: 94px;
}
.v-dr-plus2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 6.81%;
  left: 0%;
  width: 93.19%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-plus2:hover{
    color: rgb(123, 123, 121);
}
.read-health-articles {
  width: 12%;
  height: 22px;
  position: absolute;
  right: 59.67%;
  left: 29.65%;
  bottom: 72px;
}
.read-health-articles2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.read-health-articles2:hover{
    color: rgb(123, 123, 121);
}
.read-about-medicines {
  width: 13%;
  height: 22px;
  position: absolute;
  right: 58.28%;
  left: 29.65%;
  bottom: 48px;
}
.read-about-medicines2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.read-about-medicines2:hover{
    color: rgb(123, 123, 121);
}
.v-dr-drive {
  width: 7%;
  height: 22px;
  position: absolute;
  right: 64.83%;
  left: 29.65%;
  bottom: 24px;
}
.v-dr-drive2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 13.09%;
  left: 0%;
  width: 86.91%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-drive2:hover{
    color: rgb(123, 123, 121);
}
.health-app {
  width:7%;
  height: 22px;
  position: absolute;
  right: 64.39%;
  left: 29.65%;
  bottom: 5px;
}
.health-app2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.health-app2:hover{
    color: rgb(123, 123, 121);
}
.for-doctors {
  width: 8%;
  height: 22px;
  position: absolute;
  right: 44.91%;
  left: 48.55%;
  bottom: 193px;
}
.for-doctors2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}

.v-dr-profile {
  width: 8.18%;
  height: 22px;
  position: absolute;
  right: 43.75%;
  left: 50.07%;
  bottom: 170px;
}
.v-dr-profile2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-profile2:hover{
    color: rgb(123, 123, 121);
}
.for-clinics {
  width: 7%;
  height: 22px;
  position: absolute;
  right: 45.57%;
  left: 48.69%;
  bottom: 124px;
}
.for-clinics2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}

.v-dr-pro {
  width: 5%;
  height: 22px;
  position: absolute;
  right: 45.2%;
  left: 50.58%;
  bottom: 65px;
}
.v-dr-pro2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-pro2:hover{
    color: rgb(123, 123, 121);
}
.v-dr-reach {
  width: 7%;
  height: 22px;
  position: absolute;
  right: 44.04%;
  left: 50.58%;
  bottom: 15px;
}
.v-dr-reach2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 3.31%;
  left: 0%;
  width: 96.69%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-reach2:hover{
    color: rgb(123, 123, 121);
}
.ray-by-v-dr {
  width: 9%;
  height: 22px;
  position: absolute;
  right: 43.53%;
  left: 50.58%;
  bottom: 93px;
}
.ray-by-v-dr2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ray-by-v-dr2:hover{
    color: rgb(123, 123, 121);
}
.ray-tab {
  width: 5%;
  height: 22px;
  position: absolute;
  right: 45.06%;
  left: 50.58%;
  bottom: 40px;
}
.ray-tab2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 9.8%;
  left: 0%;
  width: 90.2%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ray-tab2:hover{
    color: rgb(123, 123, 121);
}
.for-hospitals {
  width: 9%;
  height: 22px;
  position: absolute;
  right: 25.22%;
  left: 67.37%;
  bottom: 193px;
}
.for-hospitals2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}


.insta-by-v-dr {
  width: 7.61%;
  height: 22px;
  position: absolute;
  right: 24.13%;
  left: 69.26%;
  bottom: 169px;
}
.insta-by-v-dr2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.insta-by-v-dr2:hover{
    color: rgb(123, 123, 121);
}
.qikwell-by-v-dr {
  width: 8.92%;
  height: 22px;
  position: absolute;
  right: 22.82%;
  left: 69.26%;
  bottom: 145px;
}
.qikwell-by-v-dr2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.qikwell-by-v-dr2:hover{
    color: rgb(123, 123, 121);
}

.vdrprofil{
  width: 8.92%;
  height: 22px;
  position: absolute;
  right: 22.82%;
  left: 69.26%;
  bottom: 120px;
}
.vdrprofil:hover{
  color: rgb(123, 123, 121);

}
.vdrreach{
  width: 8.92%;
  height: 22px;
  position: absolute;
  right: 22.82%;
  left: 69.26%;
  bottom: 95px;
}
.vdrreach:hover{
  color: rgb(123, 123, 121);

}
.v-dr-reach4 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 20.27%;
  left: 36%;
  width: 91.73%;
  top: 50%;
  
}
.v-dr-reach4:hover{
    color: rgb(123, 123, 121);
}
.v-dr-drive3 {
  width: 5.52%;
  height: 22px;
  position: absolute;
  right: 25.22%;
  left: 69.26%;
  bottom: 73px;
}
.v-dr-drive4 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.v-dr-drive4:hover{
    color: rgb(123, 123, 121);
}
.more {
  width: 41px;
  height: 22px;
  position: absolute;
  right: 156px;
  bottom: 193px;
}
.more2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.help {
  width: 2.54%;
  height: 22px;
  position: absolute;
  right: 8.72%;
  left: 85.99%;
  bottom: 169px;
}
.help2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 8.27%;
  left: 0%;
  width: 91.73%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.help2:hover{
    color: rgb(123, 123, 121);
}
.developers {
  width: 6.47%;
  height: 22px;
  position: absolute;
  right: 4.8%;
  left: 85.99%;
  bottom: 146px;
}
.developers2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 12.39%;
  left: 0%;
  width: 87.61%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.developers2:hover{
    color: rgb(123, 123, 121);
}
.privacy-policy {
  width: 8.63%;
  height: 22px;
  position: absolute;
  right: 3.63%;
  left: 85.99%;
  bottom: 122px;
}
.privacy-policy2 {
  color: #000000;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 12.63%;
  left: 0%;
  width: 87.37%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.privacy-policy2:hover{
    color: rgb(123, 123, 121);
}
.TermsConditions{
  width:10% ;
  height: 22px;
  position: absolute;
  right: 4.8%;
  left: 85.99%;
  bottom: 97px;
}
.TermsConditions:hover{
  color: rgb(123, 123, 121);

}
.PCSTC{
  width:10% ;
  height: 22px;
  position: absolute;
  right: 4.8%;
  left: 85.99%;
  bottom: 71px;
}
.PCSTC:hover{
  color: rgb(123, 123, 121);

}
.HealthcareDirectory{
  width:15% ;
  height: 22px;
  position: absolute;
  right: 4.8%;
  left: 85.99%;
  bottom: 48px;
}
.HealthcareDirectory:hover{
  color: rgb(123, 123, 121);

}
.VDrHealthWiki{
  width:15% ;
  height: 22px;
  position: absolute;
  right: 4.8%;
  left: 85.99%;
  bottom: 23px;
}
.VDrHealthWiki:hover{
  color: rgb(123, 123, 121);

}
.image{
  position: absolute;
  left: 10px;
  height: 150px;
  width: 150px;
} */

.hea{background-image: url('');
  background-size: cover; /* Ensures the image covers the entire page */
  background-position: center center; /* Centers the image */
  height: 68vh; /* Makes the background cover the full viewport height */
  margin: 0; /* Removes default body margin */
}
