/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  width: 100vw;
  overflow-x: hidden;
}

/* Basic styles for body */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
  background-color: #ffffff;
  width: 100vw;
}

/* Header Styles */
.header {
  color: #000000;
  padding: 12px;
  position: relative;
  width: 100vw;
  top: -5px;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 9px rgba(251, 249, 249, 0.1); /* Subtle shadow for header */
}

/* Container for header content */
.header-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  width: 100%;
  max-width: 1490px;
  height: 7rem;
  margin: 0 auto;
  position: relative;
  top: -12px;
}

/* Logo Styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  background-color: transparent; /* Ensure background color is removed */
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container for header content */
.header-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  width: 1490px;
  /* width: 100vw; */
  height: 7rem;
  margin: 0 auto;
  position: relative ;
  top: -12px;
  left: -1rem;
  background: #007cb172;
}
.logoContain img {
  width: 6rem;
  height: auto;
  height: auto;
  position:relative;
  top: .5rem;
  left: 2rem;
  /* left: -6rem; */
  /* background: #846a6a; */
}
.navbar ul{
  position: relative;
  left:-15rem;
}

/* Logo Section (Left) */
.logo{
  /* background: #ef4545; */
  width: 5rem;
  height: 5rem;
  position: relative;
  /* background: #000; */
}
/* Navigation Bar Styles */
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 60px;
  width: 100%;
}

.navbar ul li {
  display: flex;
}

.navbar ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  padding: 8px 9px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  color: #B1B8E4; /* Change text color */
  font-size: 15px; /* Increase font size on hover */
}

/* Auth Buttons Section (Right) */
.auth-buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 0px;
  right: -90px;
}

.login-btn {
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e9ecee;
  color: #0c0101;
  border: 1px solid #5a5b5c;
  transition: opacity 0.3s ease;

  position: relative;
  right: 8.5rem;
  top: 2.2rem;
}

.login-btn:hover {
  opacity: 0.8;
  color: #B1B8E4;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .header-container {
    flex-direction: column;
    align-items: center; /* Center content horizontally */
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .auth-buttons {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center; /* Center content horizontally */
  }

  .navbar ul {
    flex-direction: column;
  }

  .auth-buttons {
    margin-top: 10px;
  }
}
@keyframes move-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.moving-text-container {
  width: 100vw;
  height: 20px;
  /* overflow: hidden; */
  background-color: #ffffff53;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8rem;
  left: 10px;
}

.moving-text {
  font-size: 1rem;
  color: #090101;
  white-space: nowrap;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  animation: move-text 25s linear infinite;
}

@media (max-width: 768px) {
  .moving-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .moving-text {
    font-size: 0.6rem;
  }
}
body {
  font-family: open sans;
  padding: 20px;
}

.location-container {
  width: 300px;
  position: relative;
  /* top: 105rem; */
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}


.dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: rgb(244, 238, 238);
  border: 1px solid #ccc;
  z-index: 1000;
  box-sizing: border-box;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  
}
.input-container {
  width: 100%;
  padding: 1px;
  font-size: 14px;
  border: 1px solid #ffffff;
  border-radius: 14px;
  cursor: pointer;
  position: relative;
  top: rem;
}

.dropdown-container {
  width: 300px;
  margin: auto;
  position: absolute;
  top: 16.5rem;
  left: 30%;
  display: flex;
  gap: 1px;
  
}
#country{

}
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  cursor: text;
  
}

option {
  font-size: 14px;
}
.input-container {
  display: flex; /* Use flexbox to align items side by side */
  gap: 10px; /* Add space between the input fields */
  width: 100%; /* Ensure container takes the full width */
/* background: #000; */
}

.body2 {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.search-container2 {
  position: absolute;
  top: 170px;
  left: 55%;
  width: 300px;
}
#search{
  position: relative;
  top: 6.70rem;
  width: 20rem;
  height: 2.5rem;
  border-radius: 4px;
  border: .5px solid rgba(0, 0, 0, 0.341);
  padding: 10px;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20rem;
}

.input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Left padding to make space for the search icon */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
.h1{
  color: #57585a;
  font-family: open sans;
  font-size: 10px;
  position: absolute;
  top: 45%;
  left: 35%;
}
.body2 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #e80f0f;
  position: absolute;
  
}
.slider {
  position: absolute;
  top: 50%;
  left: 2rem;
  width: 95%;
  max-width: 100%; /* Increased width for more images */
  height: 380px;
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  flex: 0 0 25%; /* Display four images at a time */
  box-sizing: border-box;
  text-align: center;
  padding: 50px;
}
.slide img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 20px;
  border-radius: 10px;
}
.text-above {
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}
.text-below {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.buttons button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.blue-button {
  background-color: #43a3e8;
}
.pink-button {
  background-color: #6cec72;
}
.blue-button:hover {
  background-color: #43a3e8;
}
.pink-button:hover {
  background-color: #6cec72;
}
.nav-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.nav-buttons button {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: background 0.3s;
}
.nav-buttons button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.body3 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #ffffff;
}

.container3 {
  width: 80%;
  max-width: 1000px;
  text-align: center;
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 40%;
  position: absolute;
  top: 120%;
}

/* Option Buttons outside the frame */
.option-buttons3 {
  margin-bottom: 100px;
  
  
}

.option-buttons3 button {
  padding: 10px 20px;
  font-size: 18px;
  background-color:rgb(236, 236, 236);
  color: rgb(8, 7, 7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 90px;
}

.option-buttons3 button:hover {
  background-color: #3a94d6;
}

/* Text below the options */
.header-text3 {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
  position: absolute;
  top: 30%;
  left: 35%;
}

/* Slides container inside the frame */
.slides-container3 {
  display: block;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  height: 200px;
}

.slides3 {
  display: flex;
  transition: transform 0.5s ease;
}

.slide3 {
  min-width: 100%;
  font-size: 20px;
  padding: 20px;
  background-color: rgb(236, 236, 236);
  border: px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
}

.buttons3 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: -6%;
}

.buttons3 button:hover {
  background-color: #d3567e;
  transform: scale(1.1);
}
.body4 { 
  font-family: Arial, sans-serif; 
  padding: 0; 
  margin: 0;
  position: absolute;
  top: 130%;
  left: 20%; 
}

.container4 { 
  display: flex; 
  justify-content: center; 
  gap: 1;
  padding: 50px; 
  /* background: #000; */
  position: relative;
  bottom: -12rem;
  left: 15%;

  height: 20rem;
}

.container4 img {
  width: 20rem;
  height: 20rem;
}

.preview { 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.preview img { 
  width: 300px; 
  max-width: 400px; 
  margin-bottom: 20px; 
  background-size: cover;
}

.info { 
  margin-left: 20px;
  margin-top: 35px; 
  max-width: 300px; 
}

.title { 
  font-size: 24px; 
  font-weight: bold; 
}

.description { 
  margin: 10px 0; 
}

.store-buttons { 
  display: flex; 
  gap: 30px; 
}

.store-button { 
  display: flex; 
  align-items: center; 
  padding: 2px; 
  /* background-color: #181111;  */
  border-radius: 5px;
   /* color: #ffffff;   */
}

.store-button:hover {
  /* background-color: rgb(113, 113, 113); */
}

.store-button img {
width: 150px; /* Adjust width as needed */
height: auto; /* Maintain aspect ratio */
border-radius: 4px; /* Match border radius with the background block */
 box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1); 

}

       




.hea{background-image: url('');
  background-size: cover; /* Ensures the image covers the entire page */
  background-position: center center; /* Centers the image */
  height: 68vh; /* Makes the background cover the full viewport height */
  margin: 0; /* Removes default body margin */
}


/* FOOTER PART */

.home-footer{
  /*  */
  position: absolute;
  height: 280px;
  width: 100%;
  overflow: hidden;
  top: 1300px;
  left: 0%;
}

.home-footer-logo {
  width: 100px;
  border-radius: 185px;
  position: absolute;
  left: 45%;
  top: 130px;
  height: 100px;
  /* z-index: 1; */
}
.home-footer-copyright h6{
  top: 178px;
  position: absolute;
  left: 51.7%;
  z-index: 1;
  background-color: none; 
  font-weight: 400;
}

/* Styles for Google Play and App Store images */
.store-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust gap between images as needed */
  margin-top: 20px; /* Adjust margin as needed */
}

.store-images img {
  width: 200px; /* Adjust width as needed */
  height: 100px; /* Maintain aspect ratio */
  border-radius: 4px; /* Match border radius with the background block */
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.); /* Add subtle shadow */
}
.new{
  display: flex;
  position: absolute;
  top: 30%;
  left: 10%;
}
