.auth-tabs {
  position: absolute;
  top: -40%;
  left: 138%;
  align-self: end;
  display: flex;
  width: 274px;
  max-width: 100%;
  gap: 40px;
  font-weight: 400;
  justify-content: space-between;
  margin: 93px 362px 0 0;
}


.main-content {
  width: 100%;
  max-width: 1123px;
  margin: -78px 0 0 104px;
}

.content-wrapper {
  gap: 20px;
  display: flex;
}

.image-column {
  width: 28%;
  position: absolute;
  top: 39%;
  left: 20px;
}

.hero-image {
  aspect-ratio: 1.6;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.form-column {
  width: 32%;
  margin-left: 20px;
  position: absolute;
  top: 40%;
  left: 40%;
}

.login-form {
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
  text-align: center;
  margin: 23px auto 0;
  padding: 49px 48px 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid #b4afaf;
  
  
}

.input-label {
  color: #8a8989;
  font-size: 20px;
  align-self: start;
 
 
}

.form-input {
  border-radius: 5px;
  background-color: #fff;
  margin-top: 5px;
  color: #000000;
  padding: 17px 10px;
  border: 1px solid #a4a0a0;
  width: 100%;
}

.forgot-password {
  color: #30c7ed;
  align-self: end;
  margin-top: 10px;
  position: absolute;
  top: 62%;
  right: 5%;
  text-decoration: none;
}
.forgot-password:hover{
  color: #9f9797;
  text-decoration: underline;
}

.checkbox-container {
  align-self: start;
  display: flex;
  gap: 18px;
  font-size: 13px;
  color: #9f9797;
  margin: 27px 0 0 15px;
}

.checkbox {
  background-color: #fff;
  width: 15px;
  height: 14px;
  border: 1px solid #413f3f;
  position: absolute;
  top: 71.5%;
  right: 90%;
}

.submit-button {
  border-radius: 10px;
  background-color: #5095b4;
  align-self: center;
  margin-top: 31px;
  width: 253px;
  font-size: 15px;
  color: #fff;
  padding: 12px 70px;
  border: none;
  cursor: pointer;
}
.submit-button:hover{
  background-color: #3985dc;
}
.change{
  width: 40%;
  height: 20px;
}
.change:hover{
  color: #30c7ed;
  text-decoration: underline;
}
.h1{
  font-size: 10px;
  display: flex;
  gap: 150px;
  color: rgb(98, 95, 95);
  font-family: "open sana";
  text-decoration: none;
}
.position{
  position: absolute;
  top: 37%;
  right:53%;
}


.h1:hover{
  color: #30c7ed;
  text-decoration: underline;
}
.login-footer{
  position: absolute;
  height: 280px;
  width: 100%;
  overflow: hidden;
  top: 650px;
  left: 0%;
}
.sos-footer-logo {
  width: 100px;
  border-radius: 185px;
  position: absolute;
  left: 45%;
  top: 130px;
  height: 100px;
  /* z-index: 1; */
}
.sos-footer-copyright h6{
  top: 178px;
  position: absolute;
  left: 51.7%;
  z-index: 1;
  background-color: none; 
  font-weight: 400;
}