/* General Styles */
:root {
  --primary-color: #000;
  --background-color: #fff;
  --text-color: #000;
  padding: 0%;
  margin: 0%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fff;
    --background-color: #000;
    --text-color: #fff;
  }
}

.sos-container{
width: 100%;
height: 400px;
position: absolute;
z-index: 10;
top: 260px;
left: 0%;

}
 /* sos part */
.div1 {
  width: 160px;  /* Increased size */
  height: 160px;  /* Increased size */
  position: absolute;
  top: 20px;
  left: 44%;  /* Adjusted to maintain center position */
  border-radius: 100%;
  animation: floatColor 2s infinite;  /* Increased frequency */
  z-index: 1;
  display: flex; /* Added flex to center button inside */
  justify-content: center; /* Center button horizontally */
  align-items: center; /* Center button vertically */
}

@keyframes floatColor {
  0% {
    background-color: #e46565d8;
    box-shadow: 0 0 15px 5px rgba(228, 101, 101, 0.5);
    transform: scale(1);
  }
  25% {
    background-color: rgb(231, 21, 21);
    box-shadow: 0 0 30px 10px rgba(231, 21, 21, 0.5);
    transform: scale(1.05);
  }
  50% {
    background-color: #e46565d8;
    box-shadow: 0 0 20px 5px rgba(228, 101, 101, 0.5);
    transform: scale(1);
  }
  75% {
    background-color: rgb(231, 21, 21);
    box-shadow: 0 0 25px 10px rgba(231, 21, 21, 0.5);
    transform: scale(1.05);
  }
  100% {
    background-color: #e46565d8;
    box-shadow: 0 0 15px 5px rgba(228, 101, 101, 0.5);
    transform: scale(1);
  }
}

.div1_btn {
  border: none;
  height: 80px;  /* Adjusted to fit new size */
  width: 80px;  /* Adjusted to fit new size */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  background-color: rgb(243, 14, 14);
  color: white;
  cursor: pointer;
}

.div1_btn:focus {
  outline: none; /* Remove focus outline */
}

.div1-h2 {
  color: red;
  position: absolute;
  top: 280px;
  left: 40%;
  font-weight: 700;
  font-size: xx-large;
  
}

.stop_btn {
  position: absolute;
  top:60%;
  left: 49%;
  border: 1px solid red;
  background-color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.stop_btn:focus {
  outline: none; /* Remove focus outline */
  border: 1px solid red;
}

/* FOOTER PART */

.sos-footer{
  position: absolute;
  height: 280px;
  width: 100%;
  overflow: hidden;
  top: 600px;
  left: 0%;
}




.sos-footer-logo {
  width: 100px;
  border-radius: 185px;
  position: absolute;
  left: 45%;
  top: 130px;
  height: 100px;
  /* z-index: 1; */
}
.sos-footer-copyright h6{
  top: 178px;
  position: absolute;
  left: 51.7%;
  z-index: 1;
  background-color: none; 
  font-weight: 400;
}





